@{
}

<h2>Quick Wits Comedy</h2>
<a href="https://www.qwcomedy.com/">Visit Quick Wits Comedy</a>

<h2>Baconsale</h2>
<a href="https://baconsale.com/">Visit Baconsale</a>

<a href="https://baconsale.com/">
    <img src="~/img/baconsalekate.jpg" alt="Baconsale"/>
</a>