@{
}

@*Delete Confirmation*@

@model AddMovie

<h2>Confirm Deletion of : @Model.Title</h2>

<form method="post">
    <input type="hidden" asp-for="MovieId"/>
    <button type="submit" class="btn btn-warning">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="MovieList">Cancel</a>
</form>